MT5_LOGIN=7400048
MT5_PASSWORD=_fWsAeW1
MT5_SERVER=ICMarketsSC-MT5-6
MT5_PATH=C:\Program Files\MetaTrader 5\terminal64.exe
MT5_SERVER_ALIASES=ICMarketsSC-MT5-6,ICMarketsSC-MT5-5,ICMarketsSC-MT5
MT5_INIT_TIMEOUT_MS=90000
GATEWAY_MODE=pull